body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center; /* Ensures text alignment is centered globally if not overridden */
}

.navbar-light {
    background-color: #f8f9fa!important; /* Light grey, adjust as needed */
}


.nav-link-margin-right {
    margin-right: 20px; /* Adjust the value as needed */
}
