html, body {
    height: 100%; /* Make sure the page fills the viewport height */
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center; /* Ensures text alignment is centered globally if not overridden */
    display: flex;
    flex-direction: column; /* Stack the content and footer */
}

.navbar-light {
    background-color: #f8f9fa!important; /* Light grey, adjust as needed */
}


.nav-link-margin-right {
    margin-right: 20px; /* Adjust the value as needed */
}

main {
    flex: 1; /* Allows main content to expand and push the footer down */
  }