{%
  block additional_css %}
  <link
    href="{{ url_for('static', filename='css/pages/admin.css') }}"
    rel="stylesheet"
  />
{% endblock %} 
<!-- Sidebar -->
<nav class="col-md-2 d-md-block bg-dark sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Dashboard</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Storage</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Workloads</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
    </ul>
  </div>
</nav>
